.top-navigation-bar-body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.top-navigation-bar {
    overflow: hidden;
    background-color: #0f79af;
}

.top-navigation-bar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 0.6vw 1.3vw;
    text-decoration: none;
    font-size: 1vw;
}

.top-navigation-bar-button-position a:hover {
    background-color: #ddd;
    color: #0fafe7;
}

.top-navigation-bar-button-position {
    float: right;
    padding-right: 4%;
}

.index-body {
    background-image: url("/img/back.jpg");
    opacity: 0.8;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: fixed;
    left: 0;
    background-repeat: no-repeat;
}

.welcome-header {
    font-size: 4vw;
    color: #ececec;
    padding-left: 10%;
    padding-top: 15%;
}

.index-body-info {
    font-size: 1.3vw;
    color: #ececec;
    padding-left: 10%;
    padding-top: 1%;
}

.index-show-movies-button {
    background-color: #e4685d;
    border-radius: 1vw;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 1.4vw;
    font-weight: bold;
    padding: 0.7vw 1.5vw;
    margin-left: 31%;
    text-decoration: none;
    position: relative;
}

.index-show-movies-button:hover {
    background-color: #ff7165;
}

#movies-body-background {
    background-color: #07364d;
}

.header {
    text-align: center;
    font-size: 1.8vw;
    font-family: Arial, Helvetica, sans-serif;
}

.info {
    text-align: center;
    font-size: 1.1vw;
    font-family: Arial, Helvetica, sans-serif;
}

.movies-container {
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid #ececec;
    background-color: #ffffff;
    width: 80%;
    padding: 1.5vw;
    height: 38vw;
}
.main-movies-container {
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
    height: 30vw;
}

.movie-table-container {
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
    height: 17vw;
}
#movieTable {
    border-collapse: collapse;
    width: 100%;
}
#movieTable td, th {
    border: 0.1vw solid #ccc;
    font-size: 1.1vw;
}
#movieTable tr:nth-child(even){
    background-color: #f2f2f2;
}

#movieTable tr:hover {
    background-color: #ddd;
}

#movieTable th {
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    padding-left: 0.3vw;
    text-align: left;
    background-color: #4782af;
    color: white;
}

#movieTable .movie-submit-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    float: left;
}

.user-page-container {
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid #ececec;
    background-color: #ffffff;
    width: 80%;
    padding: 1vw;
    height: 37vw;
    overflow: auto;
}

.formContainer {
    margin-top: 0.8%;
    border: 2px solid #ececec;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 14px;
}

.user-page-container button[type=submit] {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 0.6vw 2vw;
    font-size: 1vw;
    cursor: pointer;
    alignment: left;
}

#logged-user-info {
    font-size: 1vw;
    color: white;
    float: right;
    padding-right: 5%;
    padding-top: 1%;
}

input[type=text] {
    width: 100%;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    float: right;
    padding-right: 60px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0f79af;
}

p {
    margin-top: 1%;
    text-align: left;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    padding-top: 20%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


#signin-form-body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #07364d;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 0.8vw 1.4vw;
    margin: 0.6vw 0;
    display: inline-block;
    height: 1vw;
    font-size: 0.7vw;
    border: 0.07vw solid #ccc;
    box-sizing: border-box;
}

.login-submit-button {
    background-color: #0f79af;
    color: white;
    height: 2vw;
    margin: 0.6vw 0;
    border: none;
    font-size: 1vw;
    cursor: pointer;
    width: 63.5%;
    margin-left: 18.25%;
    margin-right: 18.25%;
}

#checkbox {
    padding-left: 9vw;
}

.login-submit-button:hover {
    opacity: 0.8;
}

.login-page-container {
    border: 0.23vw solid #ececec;
    background-color: #ffffff;
    margin: auto;
    width: 50%;
    padding: 1.25vw;
    margin-top: 5%;
}

.error {
    font-size: 1vw;
    color: #ff032d;
}

.containerButtons:after {
    content: "";
    clear: both;
    display: table;
}

.containerButtons button:not(:last-child) {
    border-right: none;
}

.containerButtons button[type=submit] {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 0.5vw 1.2vw;
    font-size: 0.7vw;
    cursor: pointer;
    float: left;
}

.containerButtons button[type=reset] {
    background-color: #ff938b;
    border: 1px solid #ff032d;
    color: white;
    padding: 0.5vw 1.2vw;
    font-size: 0.7vw;
    cursor: pointer;
    float: left;
    margin-left: 1.04vw;
}

button:hover {
    opacity: 0.8;
}

.alert {
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 30px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}







